.header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--ant-color-bg-container);
  box-shadow: 0 16px 64px 0px rgba(0, 0, 0, 0.1);
  grid-area: head;
}
