.header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--ant-color-bg-container);
  box-shadow: 0 16px 64px 0px var(--card-shadow);
  grid-area: head;

  .ant-avatar {
    cursor: pointer;
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    margin-top: 1px;
  }
}
