.view-card {
  // border-radius: 3rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;

  &--colorized {
    color: var(--ant-color-primary);
  }
}
