.xd {
  background-color: var(--ant-color-bg-container);
}

.test {
  --ant-color-primary: var(--ant-color-bg-container);
  --ant-color-primary-hover: red;
}

.workarea {
  // display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  // gap: 2rem;
  min-width: 20rem;
  align-items: center;
  background-color: var(--ant-color-bg-container);
  // background-color: var(--ant-color-bg-container);
  // height: 80%;
  height: 80vh;
  width: 80%;
  border-radius: 2rem;
  overflow-y: hidden;

  display: grid;
  grid-template-areas:
    'head head'
    'nav  main'
    'nav  main';
  grid-template-rows: minmax(auto, 4rem) 1fr 1fr;
  grid-template-columns: minmax(auto, 15rem) 1fr;

  &__content {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-wrapper {
      display: grid;
      height: 100%;
      width: 100%;
      padding: 1.5rem;
      grid-template-areas:
        'top top top'
        'main sub-one sub-one'
        'main sub-one sub-one';
      grid-template-rows: minmax(auto, 4rem) 1fr 1fr;
      grid-template-columns: 2fr 1fr;
      gap: 1.5rem;

      &__top,
      &__main,
      &__sub-one {
        border-radius: 2rem;
        background-color: var(--ant-color-bg-container);
        padding: 2rem;
        box-shadow: 0 16px 64px 0px var(--card-shadow);
      }

      &__top {
        grid-area: top;
      }

      &__main {
        grid-area: main;
      }

      &__sub-one {
        grid-area: sub-one;
      }

      // > * {
      //   outline: 1px solid rgba(255, 0, 0, 0.1);
      // }
    }
  }

  @media screen and (width < 1024px) {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border-radius: 0;

    .content-wrapper {
      grid-template-areas:
        'top top top'
        'main main main'
        'sub-one sub-one sub-one';
      grid-template-rows: minmax(auto, 4rem) auto minmax(210px, auto);
    }
  }

  @media screen and (width < 1280px) {
    grid-template-areas:
      'head head'
      'main  main'
      'main  main';
  }
}
