.xd {
  background-color: var(--ant-color-bg-container);
}

.test {
  --ant-color-primary: var(--ant-color-bg-container);
  --ant-color-primary-hover: red;
}

.workarea {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  // gap: 2rem;
  min-width: 20rem;
  align-items: center;
  background-color: var(--ant-color-bg-container);
  min-height: 80%;
  width: 80%;
  border-radius: 2rem;
  overflow: hidden;

  display: grid;
  grid-template-areas:
    'head head'
    'nav  main'
    'nav  main';
  grid-template-rows: minmax(auto, 4rem) 1fr 1fr;
  grid-template-columns: minmax(auto, 15rem) 1fr;

  &__content {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .content-wrapper {
      display: grid;
      height: 80%;
      width: 80%;
      grid-template-areas:
      'top top top'
      'main sub-one sub-one'
      'main sub-two sub-two';
      grid-template-rows: minmax(auto, 4rem) 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr;
      gap: 1.5rem;
      
      &__top {
        grid-area: top;
      }

      &__main {
        grid-area: main;

      }

      &__sub-one {
        grid-area: sub-one;

      }

      &__sub-two {
        grid-area: sub-two;

      }
      > * {
        outline: 1px solid red;
      }

      @media screen and (width < 1280px) {
        height: 100%;
        width: 100%;
        padding: 1.5rem;
      }
    }
  }

  @media screen and (width < 1280px) {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}
