.content-wrapper__sub-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  .no-drawing-indicator {
    text-align: center;
  }
  .buttons-clip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;
    button {
      padding: 0 10% !important;
    }
  }
}
