@font-face {
  font-family: 'Noto Sans JP';
  src: url('NotoSansJP.ttf');
}

:root {
  .ant-app.light {
    --card-shadow: rgba(0, 0, 0, 0.08);
  }

  .ant-app.dark {
    --card-shadow: rgba(0, 0, 0, 0.33);
  }
}

*:not(.ant) {
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  // font-size: 12px !important;
  box-sizing: border-box !important;

  // @media screen and (width < 1280px) {
  //   font-size: 16px !important;
  // }
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;

  .ant-app,
  .ant-app > div {
    height: 100%;
    width: 100%;
    background-color: var(--ant-color-bg-layout);
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    gap: 2rem;
  }
}
