@font-face {
  font-family: 'Virgil';
  src: url('Virgil.woff2');
}

* {
  font-family: 'Noto Sans JP', 'Virgil', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;

  .ant-app,
  .ant-app > div {
    height: 100%;
    width: 100%;
    background-color: var(--ant-color-bg-container);
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    gap: 2rem;
  }
}
