@font-face {
  font-family: 'Virgil';
  src: url('Virgil.woff2');
}

* {
  font-family: 'Virgil', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;

  & > div {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}
